# docker-compose.override.yml
# ------------------------------------
# This file provides default configurations for LOCAL DEVELOPMENT.
# Docker Compose automatically merges this file with 'docker-compose.yml'.
#


services:
  api:
    build:
      context: .
      target: development
    command: npm run dev:api
    ports:
      - "${API_PORT:-3000}:3000"
    volumes:
      - ./src:/app/src
      - ./uploads:/app/uploads

  worker:
    build:
      context: .
      target: development
    volumes:
      - ./logs:/app/logs


  mysql:
    ports:
      - "${DB_PORT:-3307}:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis-data:/data

volumes:
  mysql-data:
  redis-data:
